@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 38, 6%, 96%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;

    --gradient1: 0, 99%, 49%, 0.1;
    --gradient2: 0, 99%, 49%, 0.05;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;

    --gradient1: 0, 99%, 49%, 0.09;
    --gradient2: 0, 99%, 49%, 0.04;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "__Encode_Sans_Expanded_f3725f";
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.dark-bg {
  background: url("../../public/dark.svg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.radial-gradient {
  background-image: radial-gradient(
    hsla(var(--gradient1)),
    hsla(var(--gradient2)),
    transparent,
    transparent
  );
}

.linear-gradient {
  background-image: linear-gradient(
    hsla(var(--gradient1)),
    hsla(var(--gradient2)),
    transparent,
    transparent
  );
}

.sponsor-gradient {
  background-image: radial-gradient(
    hsla(var(--gradient1)),
    hsla(var(--gradient2)),
    transparent,
    transparent
  );
}

.slick-prev,
.slick-next {
  display: none !important;
  visibility: hidden !important;
}

*::-webkit-scrollbar {
  display: none;
}

/* styles/globals.css */

/* 
  these type the CSS variable as color
  unlocking the ability for the browser 
  to animate just that portion
*/
@property --color-1 {
  syntax: "<color>";
  inherits: false;
  initial-value:hsl(40, 100%, 95%);
}

@property --color-2 {
  syntax: "<color>";
  inherits: false;
  initial-value:  hsl(344, 100%, 71%);
}

@property --color-3 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(341, 100%, 90%);
}



/* keyframes that change the color variable */
@keyframes gradient-change {
  to {
    --color-1: hsl(40, 100%, 98%);
    --color-2: hsl(344, 100%, 73%);
    --color-3: hsl(341, 100%, 92%);
  }
}

.animated-heading {
  /* apply variable changes over time */
  animation: gradient-change 2s linear infinite alternate;

  
  background: linear-gradient(
    /* 
      in oklch produces more vibrant gradient results 
      learn more https://developer.chrome.com/docs/css-ui/access-colors-spaces#color_interpolation
    */
    to right in oklch, 
    /* use the variables in a gradient (or wherever!) */
    var(--color-1), 
    var(--color-2),
    var(--color-3)
  );
  
  /* old browser support */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  /* modern browser version */
  background-clip: text;
  color: transparent;
}

