name: CI/CD Workflow

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install dependencies
        run: npm install

      - name: Build app
        run: npm run build

      - name: Copy Server File
        run: cp -r .next /var/www/web3bridgewebsite
        
      - name: Clean up folder
        run: rm -vrf node_modules

      - name: Restart Server
        run: pm2 restart web3bridgewebsite  || pm2 start --name web3bridgewebsite npm -- start
